<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pokédex Project </title>
    <link rel="stylesheet" href="./css/index.css" type="text/css">
</head>
<body>
    <div id="models">
        <div class="slider-item">
            <div class="slider-left">
                <h1></h1>
                <h2></h2>
                <a href="#pokemons" class="button-slider">
                    See more 
                    <img src="./assets/icons/right-arrow.png">
                </a>
            </div>
            <div class="slider-right">
                <img src="" alt="Image Pokémon">
            </div>
        </div>

        <div class="pointer-item"></div>

        <div class="item-slider-all-img">
            <img src="" alt="">
        </div>
        

        <div class="about-card">
            <div class="space-img-card">
                <div class="img-card">
                    <img src="" alt="">
                </div>
            </div>
            <div class="card-borders">
                <div class="card-border-content">
                    <h2></h2>
        
                    <div class="num-card">
                        <img src="./assets/icons/layer.png" alt="">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="space-img-card">
                <div class="img-card">
                    <img src="" alt="">
                </div>
            </div>
            <div class="card-borders">
                <div class="card-border-content">
                    <h2></h2>
        
                    <div class="num-card">
                        <img src="./assets/icons/layer.png" alt="">
                        <p></p>
                    </div>
            
                    <div class="buttons-card">
                        <button class="button-card-preview">
                            Preview
                            <img src="./assets/icons/play-button.png" alt="">
                        </button>
                        <a href="" class="button-card-details">
                            DETAILS
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

<header>
    <div id="header-area">
        <a id="logo" href="/">
            <img src="./assets/icons/pokeball.png" alt="">
            <h2>Pokédex</h2>
        </a>
        <nav id="nav">
            <ul>
                <li><a href="#slider">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#pokemons">POKÉMONS</a></li>
                <li><a href="#footer">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <div id="header-bar"></div>
</header>

<main>
    <section id="slider">
        <div id="pointers"></div>
        <div id="slider-width"></div>
    </section>

    <section id="slider-all-img">
        <div id="width-slider-all-img"></div>
    </section>

    <section id="about">
        <div id="about-left">

        </div>

        <div id="about-right">

            <h1>About <br> Pokédex</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptatibus doloribus perspiciatis autem, natus sequi non quisquam ducimus accusamus suscipit ipsum quo nostrum beatae! Ducimus quos nobis natus ut obcaecati quam animi aliquid vel ea iste recusandae magni harum est accusamus sit a, eos porro.</p>
            
        </div>
    </section>

    <section id="pokemons">

        <div id="pokemons-title">
            <div class="title-bar"></div>
            <h2>Pokémons</h2>
            <div class="title-bar"></div>
        </div>

        <div id="pokemons-area"></div>

    </section>

</main>

<footer id="footer">

    <div id="footer-left">
        <div id="footer-header">
            <p>Projeto desenvolvido por</p>
            <h2>Lucas Marques</h2>
        </div>
        <div id="footer-main">
            <a href="https://www.linkedin.com/in/mlucasdev/" target="_blank">Linkedin</a>
            <a href="https://github.com/mlucasdev" target="_blank">GitHub</a>
            <a href="https://api.whatsapp.com/send?phone=5554991235589" target="_blank">Contato</a>
        </div>
    </div>

    <div id="footer-right">
        <a href="#slider">
            <img src="./assets/icons/go-up.png" alt="">
            <h2>Volte para o ínicio</h2>
        </a>
    </div>

</footer>

<script src="./assets/js/arrays.js"></script>
<script src="./assets/js/index-front.js"></script>
</body>
</html>