@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

div#models {
    display: none;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif, serif, arial;
    color: #fff;
    background-color: #0a0a0a; 
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    height: 4.7rem;
    background-color: rgba(0, 0, 0, .8);
    z-index: 101;
}

div#header-area {
    width: 80%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

div#header-area a {
    color: #fff;
    text-decoration: none;
}

a#logo {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
a#logo img{
    width: 2rem;
    margin-right: .5rem;
}

nav#nav {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav#nav ul {
    display: flex;
    list-style: none;
}

nav#nav li {
    margin-left: 5rem;
    font-size: .8rem;
}
div#header-bar {
    width: 85%;
    height: 1px;
    max-width: 1520px;
    background-color: #fff;
    margin: auto;
    margin-top: -1px;
}


section#slider {
    width: 100vw;
    height: calc(100vh - 4.7rem);
    padding-top: 4.7rem;
    background-image: url('../assets/backgrounds/slide1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
}

div#slider-width {
    height: 100%;
    display: flex;
    transition: all 1s ease;
}

div.slider-item {
    width: 80vw;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
}

div.slider-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

div.slider-left h1{
    font-size: 3vw;
    font-weight: 400;
    line-height: 3vw;
}

div.slider-left h2 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 400;
}

a.button-slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    width: 11.2rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #fff;
    border-radius: 3rem;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 300;
    margin-top: 4rem;
    
}

a.button-slider img {
    height: 1rem;
} 

div.slider-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

div.slider-right img {
    width: 70%;
}

div#pointers {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 97%;
}

div.pointer-item {
    width: .7rem;
    height: .7rem;
    border-radius: .4rem;
    border: solid 2px #fff;
    margin-left: .2rem;
    transition: background-color .8s ease;
    cursor: pointer;
}

.atual {
    background-color: #fff;
    transition: background-color .8s ease;
}




section#slider-all-img {
    width: 80vw;
    max-width: 1440px;
    height: 4rem;
    margin: auto;
    border: solid 1px #fff;
    border-radius: 7rem;
    overflow-x: hidden;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

div#width-slider-all-img {
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .8s ease;
}

div.item-slider-all-img {
    width: 5vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.item-slider-all-img img {
    height: 65%;
}





div.card {
    width: 25.1rem;
    height: 30.5rem;
    display: flex;
    margin-bottom: 4rem;
    transition: all .5s ease;
}

div.card-borders {
    width: 23.5rem;
    height: 28.4rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: flex-end;
    border: 1px solid #fff;    
}
div.space-img-card {
    width: 23.5rem;
    height: 20.3rem;
    background-color: #0a0a0a;
    position: absolute;
    margin-left: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

div.img-card {
    display: flex;
    width: 22.4rem;
    height: 18.2rem;
    background-image: linear-gradient(#8049E3 5%, #8637DE, #9800CD, #9d01d6 50%, #0a0a0a02);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

div.img-card img {
    width: 50%;
}

div.card-border-content {
    width: 18.5rem;
    height: 10.2rem;
}

div.card-border-content h2{
    font-size: 1.5rem;
}

div.num-card {
    display: flex;
    width: 100%;
    height: 2.3rem;
    align-items: center;
    margin-bottom: 1rem;
}

div.num-card img {
    width: 1.2rem;
    margin-right: .5rem;
}

div.num-card p {
    font-size: 1.1rem;
}


div.buttons-card {
    display: flex;
    justify-content: space-between;
}


button.button-card-preview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8.25rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #fff;
    border-radius: 3rem;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 300; 
    cursor: pointer;
}

button.button-card-preview img {
    width: 1.2rem;
}

a.button-card-details {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8.25rem;
    border-radius: 3rem;
    height: 3rem;font-size: 1.1rem;
    font-weight: 600;
    background-image: linear-gradient(135deg,#06DBAC 20%, #4491C8, #715BDD, #8049E3,#9d01d6, #BD00FF);
}

div.card:hover {
    transform: scale(0.9);
    transition: all .4s ease;
}




section#about {
    width: 80vw;
    max-width: 1440px;
    height: 60rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
    background-image: url(../assets/backgrounds/slide2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#about-left {
    width: 58%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6rem;
}

div.about-card {
    width: 15rem;
    height: 15.3rem;
    display: flex;
    margin: 2rem 2rem 2rem 2rem;
}

div.about-card .card-borders {
    width: 14.1rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: flex-end;
    border: 1px solid #fff;    
}

div.about-card .card-border-content {
    width: 11.1rem;
    height: 3rem;
}

div.about-card .card-border-content h2{
    font-size: .9rem;
}

div.about-card .space-img-card {
    width: 14.1rem;
    height: 12.18rem;
    background-color: #0a0a0a;
    position: absolute;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-end;
}

div.about-card .img-card {
    display: flex;
    width: 13.44rem;
    height: 10.92rem;
    background-image: linear-gradient(#8049E3 5%, #8637DE, #9800CD, #9d01d6 50%, #0a0a0a02);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

div.about-card .num-card {
    display: flex;
    width: 100%;
    height: 1.38rem;
    align-items: center;
    margin-bottom: .6rem;
}

div.about-card .num-card img {
    width: .72rem;
    margin-right: .3rem;
}

div.about-card .num-card p {
    font-size: .7rem;
}

div.about-card.first {
    margin-top: -1rem;
    margin-left: -2.5rem;
}

div.about-card.second {
    margin-top: 7rem;
}

div.about-card.third {
    margin-top: -8.5rem;
}

div.about-card.fourth {
    margin-top: -.5rem;
}




div#about-right {
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 3rem;
    justify-content: center;
    padding-bottom:3rem;
}

div#about-right h1 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 4.4rem;
    margin-bottom: 2rem;
}

div#about-right p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;
}




section#pokemons {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    padding-top: 6rem;
}

div#pokemons-title {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 7rem;
}

div#pokemons-title .title-bar {
    width: 25%;
    height: 1px;
    background-color: #fff;
    border-radius: 2px;
}

div#pokemons-title h2 {
    font-size: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 400;
}

div#pokemons-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around
}




footer#footer {
    width: 80%;
    max-width: 1440px;
    height: 15rem;
    margin: auto;
    display: flex;
    padding: 3rem 0 3rem 0;
    margin-top: 5rem;
}

div#footer-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div#footer-left p {
    font-size: 1.5rem;
    font-weight: 400;
}

div#footer-left h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

div#footer-main {
    display: flex;
}

div#footer-main a {
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

div#footer-main a:last-child {
    border-left: 1px solid #fff;
    padding-left: 1rem;
    margin-left: 1rem;
}

div#footer-main a:first-child {
    border-right: 1px solid #fff;
    padding-right: 1rem;
    margin-right: 1rem;
}






div#footer-right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

div#footer-right a {
    display: flex;
    text-decoration: none;
    color: #fff;
}

div#footer-right img {
    width: 2rem;
}

div#footer-right h2 {
    font-size: 1.6rem;
    font-weight: 400;
}